@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(85, 85, 85);
}


.logo {
  font-family: 'Pacifico', cursive;
}

.active-link {
  border-bottom-width: 1.5px;
  border-bottom-color: teal;
}